@model IEnumerable<CustomerUI.Models.CustomerViewModel>
@{
    ViewData["Title"] = "Customers";
}

<h2>Customers</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Customer</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>FirstName</th>
            <th>Email</th>
            <th>Address</th>
            <th>MobileNo</th>
            <th>Actions</th>
        </tr>
        <tr>
            <div>
                <a asp-action="Index" asp-route-skip="0" asp-route-take="10">First 10</a>
                <a asp-action="Index" asp-route-skip="10" asp-route-take="10">Next 10</a>
            </div>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Email</td>
                <td>@customer.Address</td>
                <td>@customer.MobileNo</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@customer.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@customer.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>
